<!-- Site footer -->

<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2020 All Rights Reserved by
          <a href="#">UnCorkd</a>.
        </p>
      </div>
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <h6>Quick Links</h6>
          <ul class="footer-links">
            <li><a href="/home">Home</a></li>
            <li><a href="/newbie">Info</a></li>
            <li><a href="/feed">Feed</a></li>
            <li>
              <a href="/saved">Saved</a>
            </li>
            <li><a href="/na-page">Non-Alcoholic</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="linkedin" href="https://github.com/wilsonmike"
              ><i class="fab fa-github"></i
            ></a>
            <p>&copy;MichaelWilson</p>
          </li>
          <li>
            <a class="linkedin" href="https://github.com/Luc-D07"
              ><i class="fab fa-github"></i
            ></a>
            <p>&copy;DanielleLucaj</p>
          </li>
          <li>
            <a class="linkedin" href="https://github.com/Kris-Jay"
              ><i class="fab fa-github"></i
            ></a>
            <p>&copy;KristoferJuncaj</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
