<header class="header">
  <h1 routerLink="/home">UnCorkd</h1>
  <img class="logo" src="assets/cork-icons.svg" alt="UnCorKd Logo" />
</header>
<main class="main-container">
  <div class="content-container">
    <div class="shpeil">
      <p class="paragraph">
        Not a cocktail lover? No worries! We have just the thing for you. Listed
        below are some of our favorite go-to sites for mocktails of all kinds.
        We hope you enjoy!
      </p>
    </div>
    <!-- Statically made "cards" that can be changed at any time -->

    <div class="card one grow">
      <img src="" alt="" />
      <a
        class="link"
        href="https://www.townandcountrymag.com/leisure/drinks/how-to/g785/best-mocktail-recipes/"
        target="_blank"
        >Town&Country</a
      >
    </div>
    <div class="card two grow">
      <img src="" alt="" />
      <a
        class="link"
        href="https://www.thespruceeats.com/delicious-mocktail-recipes-4169329"
        target="_blank"
        >The Spruce Eats</a
      >
    </div>
    <div class="card three grow">
      <img src="" alt="" />
      <a
        class="link"
        href="https://www.foodandwine.com/cocktails-spirits/mocktails"
        target="_blank"
        >Food&Wine</a
      >
    </div>
    <div class="card four grow">
      <img src="" alt="" />
      <a
        class="link"
        href="https://mixthatdrink.com/28-mocktails-and-non-alcoholic-drinks-to-love/"
        target="_blank"
        >Mix That Drink</a
      >
    </div>
    <div class="card five grow">
      <img src="" alt="" />
      <a
        class="link"
        href="https://www.tasteatlas.com/50-most-popular-non-alcoholic-beverages-in-the-world"
        target="_blank"
        >The Atlas</a
      >
    </div>
  </div>
</main>
<div class="footer">
  <app-footer></app-footer>
</div>
