<header class="header">
  <img class="logo" src="assets/cork-icons.svg" alt="UnCorKd Logo" />
  <a class="home" routerLink="/home">Home</a>
  <app-headerauth class="header-auth"></app-headerauth>
</header>
<div class="accordion">
  <h3 class="">We help you find your favorite bourbon.</h3>
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title> Bourbon </mat-panel-title>
        <mat-panel-description> Click for definition </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        By law, bourbon must be made from a grain mixture that is at least 51
        percent corn. Bourbon must be made in the United States. Additionally,
        bourbon is always aged in new charred-oak barrels and distilled to no
        more than 80 percent ABV.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div>
  <app-footer></app-footer>
</div>
