<header class="header">
  <img class="logo" src="assets/cork-icons.svg" alt="UnCorKd Logo" />
  <a class="home" routerLink="/home">Home</a>
  <app-headerauth class="header-auth"></app-headerauth>
</header>
<div class="hero-img">
  <h3 class="hero-info">
    Enjoy your dive into bourbon, <br />
    we gave you some resources to get you up to speed. 🏊
  </h3>
</div>
<div class="main-terms-container">
  <h4 class="main-terms">Main Terms</h4>
</div>
<mat-divider class="divider"></mat-divider>
<div class="def-contain">
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <img class="t-img" src="assets/glasssmile.svg" alt="" /> Bourbon
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        By law, bourbon must be made from a grain mixture that is at least 51
        percent corn. Bourbon must be made in the United States. Additionally,
        bourbon is always aged in new charred-oak barrels and distilled to no
        more than 80 percent ABV.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/percentage.svg" alt="" /> Proof
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Measurement of beverage alcohol on a scale, in America, of 200. A 100°
        proof spirit contains 50 percent alcohol.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/fire.svg" alt="" /> Char/Charring
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        In order to impart smoky flavors and aromas into whiskey, the inner
        surface of wood barrels (used for aging) are partially burned.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/neat.svg" alt="" /> Neat
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        A drink served "neat" is a single, unmixed liquor served without being
        chilled and without any water, ice, or other mixer.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/icecubers.svg" alt="" /> On The Rocks
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        "On the rocks" refers to liquor poured over ice cubes, and a "rocks
        drink" is a drink served on the rocks.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="main-terms-container">
    <h4 class="main-terms">Common Flavor Profiles</h4>
  </div>
  <mat-divider class="divider"></mat-divider>
  <mat-accordion class="sep">
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/spice.svg" alt="" /> Spice
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Aromatic, Earthy <br />
        Earth: Leather, Coffee, Tobacco <br />
        Aromatic: Licorice, Mint, Herbal Tea, Clove, Black Pepper
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/chocolate-bar.svg" alt="" /> Sweet
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Baked, Candy, Buttery <br />
        Earth: Leather, Coffee, Tobacco <br />
        Baked: Chocolate, Bakery Goods
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion>
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/apple.svg" alt="" />
          Fruit/Floral
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Fruit: Raspberry, Blackberry, Blueberry, Cherry, Plum, Orange, Lemon,
        Apricot, Peach, Banana <br />
        Floral: Rose, Potpourri <br />
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="main-terms-container">
    <h4 class="main-terms">Some Awesome Cocktails</h4>
  </div>
  <mat-divider class="divider"></mat-divider>
  <mat-accordion class="sep">
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/mint.svg" alt="" /> Mint Julep
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>Ingredients</b> <br />
        -5 to 6 mint leaves <br />
        -1/2 oz Simple syrup<br />
        -2oz Bourbon <br />
        -1/2 oz Dark rum<br />
        -Mint to garnish
        <br />
        <b>Instructions</b> <br />
        Muddle mint and sugar lightly. Add bourbon and crushed ice. Stir until
        frost forms on outside of glass. Top with more crushed ice. Float dark
        rum on top. Garnish with mint (orange wheel and fresh berries optional).
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="sep">
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/bas.svg" alt="" /> Suffering Bastard
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>Ingredients</b> <br />
        -1oz Bourbon <br />
        -1 oz Gin<br />
        -1/2 oz lime juice cordial <br />
        -2 dashes Aromatic bitters<br />
        -4oz Ginger Beer<br />
        -Mint to garnish<br />
        <b>Instructions</b> <br />
        Build all ingredients in shaker except for ginger beer. Add ice and
        shake until chilled. Strain into Collins or Old Fashioned glass. Top
        with ginger beer and fresh ice. Garnish with mint, orange wheel
        optional.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="sep">
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/old-fashioned.svg" alt="" /> Old
          Fashioned
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>Ingredients</b> <br />
        -2oz Bourbon <br />
        -1 tsp Sugar (1 cube)<br />
        -Angostura Bitters(dash to preference) <br />
        -Orange peel for garnish<br />
        <b>Instructions</b> <br />
        Muddle sugar and bitters in glass. Add bourbon and minimal amount of ice
        and stir. Strain contents into Old Fashioned glass with ice and garnish
        with orange peel and cherry.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="sep">
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/empire-state-building.svg" alt="" />
          Manhattan
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>Ingredients</b> <br />
        -2oz Bourbon <br />
        -1oz Sweet vermouth<br />
        -Bitters to taste <br />
        -Cherry to garnish<br />
        <b>Instructions</b> <br />
        Add all ingredients to a mixing glass with ice, stir. Strain into a
        chilled cocktail glass and garnish with a cherry.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
  <mat-accordion class="sep">
    <mat-expansion-panel
      class="info"
      (opened)="panelOpenState = true"
      (closed)="panelOpenState = false"
    >
      <mat-expansion-panel-header>
        <mat-panel-title
          ><img class="t-img" src="assets/whiskey-sour.svg" alt="" />
          Whiskey Sour
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        <b>Ingredients</b> <br />
        -2oz Bourbon <br />
        -3/4oz Lemon juice<br />
        -3/4oz Simple syrup <br />
        -Egg white(optional)<br />
        -Cherry and/or lemon wedge for garnish<br />
        <b>Instructions</b>
        Add all ingredients to a shaker and add ice. *If using egg white dry
        shake first-don't add ice. Strain into rocks glass filled with ice and
        garnish.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div>
  <app-footer></app-footer>
</div>
