.header {
  display: flex;
  height: 50px;
  align-items: center;
}
.header-auth {
  margin-right: 20px;
}
.header-group {
  margin-left: auto;
}
.saved {
  font-size: 16px;
  text-decoration: none;
  font-family: "Amaranth", sans-serif;
  margin-right: 20px;
  color: #fff7ed;
}
.home {
  font-size: 16px;
  text-decoration: none;
  font-family: "Amaranth", sans-serif;
  margin-left: auto;
  margin-right: 20px;
  color: #fff7ed;
}
.ranked {
  font-size: 14px;
  font-family: "Amaranth", sans-serif;
  margin-right: 20px;
  color: #fff7ed;
}
.logo {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}
.main-top {
  background-color: #ffd984;
  height: 5%;
}
ul {
  list-style-type: none;
}
.fa-star {
  color: gold;
}
.user-photo {
  border-radius: 10px;
  width: 40px;
  height: 40px;
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.item-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-brand {
  text-align: center;
  font-size: 22px;
  margin-bottom: 10px;
  padding: 10px;
}
.user-photo {
  margin-left: auto;
}
.inside-content {
  text-align: center;
}
.feed {
  font-size: 16px;
  text-decoration: none;
  font-family: "Amaranth", sans-serif;
  margin-right: 20px;
  color: #fff7ed;
}
