<div class="main-top">
  <header class="header">
    <img
      routerLink="/home"
      class="logo"
      src="assets/cork-icons.svg"
      alt="UnCorKd
    Logo"
    />
    <!-- <h3 class="ranked">Ranked</h3> -->
    <a class="home" routerLink="/home">Home</a>
    <a class="saved" routerLink="/saved">Saved</a>
    <app-headerauth class="header-auth"></app-headerauth>
  </header>
  <div class="item-container">
    <ul *ngFor="let item of userFeed">
      <mat-card>
        <img
          class="item-img"
          src="{{ item.img_url }}"
          alt="Picture of Bourbon"
        />
        <div class="inside-content">
          <li class="main-brand">{{ item.brand }}</li>
          <li *ngIf="item.rating === 1"><i class="fas fa-star"></i></li>
          <li *ngIf="item.rating === 2">
            <i class="fas fa-star"></i><i class="fas fa-star"></i>
          </li>
          <li *ngIf="item.rating === 3">
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i>
          </li>
          <li *ngIf="item.rating === 4">
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fas fa-star"></i>
          </li>
          <li *ngIf="item.rating === 5">
            <i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i><i class="fas fa-star"></i
            ><i class="fas fa-star"></i>
          </li>
          <li>{{ item.user_comment }}</li>
          <div class="user-photo">
            <img
              class="user-photo"
              src="{{ item.photo_url }}"
              alt="Picture of Face"
            />
          </div>
        </div>
      </mat-card>
    </ul>
  </div>
</div>
