<header class="header">
  <img
    routerLink="/home"
    class="logo"
    src="assets/cork-icons.svg"
    alt="UnCorKd Logo"
  />
  <!-- <h3 class="ranked">Ranked</h3> -->
  <a class="home" routerLink="/home">Home</a>
  <app-headerauth class="header-auth"></app-headerauth>
</header>
<ul *ngFor="let save of saved">
  <img src="{{ save.img_url }}" alt="Picture of Bourbon" />
  <li>{{ save.brand }}</li>
  <li>{{ save.description }}</li>
  <form>
    <input
      type="radio"
      class="star-input"
      name="rating"
      id="star-1"
      value="1"
    />
    <label for="star-1" class="star"><i class="fas fa-star"></i></label>
    <input
      type="radio"
      class="star-input"
      name="rating"
      id="star-2"
      value="2"
    />
    <label for="star-2" class="star"><i class="fas fa-star"></i></label>
    <input
      type="radio"
      class="star-input"
      name="rating"
      id="star-3"
      value="3"
    />
    <label for="star-3" class="star"><i class="fas fa-star"></i></label>
    <input
      type="radio"
      class="star-input"
      name="rating"
      id="star-4"
      value="4"
    />
    <label for="star-4" class="star"><i class="fas fa-star"></i></label>
    <input
      type="radio"
      class="star-input"
      name="rating"
      id="star-5"
      value="5"
      checked
    />
    <label for="star-5" class="star"><i class="fas fa-star"></i></label>
    <button type="submit">Send</button>
  </form>
</ul>
