.header {
  display: flex;
  background-color: #ffd984;
  width: 100%;
  height: 50px;
  align-items: center;
}
.logo {
  height: 30px;
  width: 30px;
  margin-left: 20px;
  outline: none;
  border: none;
}
.header-auth {
  margin-right: 20px;
}
.header-group {
  margin-left: auto;
}
.search-bar {
}
.home {
  font-size: 16px;
  text-decoration: none;
  font-family: "Amaranth", sans-serif;
  margin-left: auto;
  margin-right: 20px;
  color: #fff7ed;
}
.star-input {
  display: none;
}

.star {
  color: gold;
}

.star-input:checked + .star ~ .star {
  color: rgb(245, 242, 197);
}
img {
  width: 300px;
  height: 300px;
  object-fit: contain;
}
.submit-star {
  border: none;
  outline: none;
  background: #ffd984;
  height: 35px;
  margin-top: 5px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
}
.rate-btn {
  border: none;
  outline: none;
  background: #ffd984;
  height: 35px;
  margin-left: 10px;
  border-radius: 5px;
  color: white;
}
.rate-btn:hover {
  background-color: #ffb954;
  color: white;
  cursor: pointer;
}

.submit-star:hover {
  background-color: #ffb954;
  color: white;
  cursor: pointer;
}
