<header class="header">
  <img
    routerLink="/home"
    class="logo"
    src="assets/cork-icons.svg"
    alt="UnCorKd Logo"
  />
  <!-- <h3 class="ranked">Ranked</h3> -->
  <a class="home" routerLink="/home">Home</a>
  <app-headerauth class="header-auth"></app-headerauth>
</header>
<ul *ngFor="let save of saved">
  <img src="{{ save.img_url }}" alt="Picture of Bourbon" />
  <li>{{ save.brand }}</li>
  <li>{{ save.description }}</li>
  <form #youMad="ngForm" (ngSubmit)="storeRate(youMad)" class="form-ish">
    <div>
      <input
        type="radio"
        class="star-input"
        name="{{ save.id }}"
        id="{{ save.id }}1"
        value="1"
        ngModel
      />
      <label for="{{ save.id }}1" class="star"
        ><i class="fas fa-star"></i
      ></label>
      <input
        type="radio"
        class="star-input"
        name="{{ save.id }}"
        id="{{ save.id }}2"
        value="2"
        ngModel
      />
      <label for="{{ save.id }}2" class="star"
        ><i class="fas fa-star"></i
      ></label>
      <input
        type="radio"
        class="star-input"
        name="{{ save.id }}"
        id="{{ save.id }}3"
        value="3"
        ngModel
      />
      <label for="{{ save.id }}3" class="star"
        ><i class="fas fa-star"></i
      ></label>
      <input
        type="radio"
        class="star-input"
        name="{{ save.id }}"
        id="{{ save.id }}4"
        value="4"
        ngModel
      />
      <label for="{{ save.id }}4" class="star"
        ><i class="fas fa-star"></i
      ></label>
      <input
        type="radio"
        class="star-input"
        name="{{ save.id }}"
        id="{{ save.id }}5"
        value="5"
        checked
        ngModel
      />
      <label for="{{ save.id }}5" class="star"
        ><i class="fas fa-star"></i
      ></label>
    </div>
    <textarea
      name="comment"
      id="comment"
      rows="4"
      cols="50"
      placeholder="Add a comment here!"
    >
    </textarea>
    <button mat-button class="rate-btn">Rate</button>
  </form>
  <ng-container *ngIf="user$ | async as user; else loginButtonContainer">
    <app-profile-card [user]="user" (logoutClick)="logout()">
    </app-profile-card>
    <button
      mat-button
      (click)="
        getUser(
          save.id,
          user.uid,
          rating[save.id],
          user.displayName,
          save.brand,
          save.img_url
        )
      "
      class="submit-star"
    >
      Save Rating
    </button>
  </ng-container>
</ul>
