<app-headerauth></app-headerauth>
<div class="round-background">
  <header class="header">
    <!-- <img class="triple-menu" src="assets/menuSwag.svg" alt="" /> -->
    <!-- <button mat-icon-button (click)="login()">
      <mat-icon matTooltip="Login" aria-hidden="false" aria-label="Login">
        fingerprint
      </mat-icon>
    </button> -->
  </header>
  <main class="main-focus">
    <img class="logo" src="assets/cork-icons.svg" alt="" />
    <p class="branding">UnCorkd</p>
  </main>
  <section class="drinking">
    <p class="twenty-one">
      Are you 21 or over, click no for alcohol-free cocktail ideas!
    </p>
    <div class="button-container">
      <div class="no-button">
        <button routerLink="/na-page" mat-raised-button>No</button>
      </div>
      <div class="yes-button">
        <button routerLink="/home" mat-raised-button>Yes</button>
      </div>
    </div>
  </section>
</div>
