<button
  mat-icon-button
  color="accent"
  [matTooltip]="user.displayName"
  [attr.aria-label]="user.displayName"
  [matMenuTriggerFor]="menu"
>
  <img
    style="height: 40px; width: 40px; border-radius: 5px"
    [src]="user.photoURL"
    [alt]="user.displayName"
    class="avatar"
  />
</button>

<mat-menu #menu="matMenu">
  <img [src]="user.photoURL" [alt]="user.displayName" class="big-avatar" />
  <h4>
    {{ user.displayName }}
  </h4>
  <p>
    {{ user.email }}
  </p>
  <mat-divider></mat-divider>
  <button (click)="logout()" mat-stroked-button>
    Sign out ya filthy animal
  </button>
  <mat-divider></mat-divider>
  <div class="profile-footer">Made with 🦄 from the bossgroup</div>
</mat-menu>
