.search-bar {
  font-size: 16px;
  font-family: "Amaranth", sans-serif;
  margin-right: 10px;
  color: #fff7ed;
}
.input {
  border: none;
  border-bottom: 1px solid brown;
  border-radius: 3px;
  background: white;
  margin-right: 5px;
  outline: none;
  color: #fff7ed;
}
::placeholder {
  font-size: 14px;
  color: brown;
  font-family: "Amaranth", sans-serif;
}
.submit-search {
  background-color: white;
  color: brown;
  border: none;
  outline: none;
  height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
