<header class="header">UnCorkd</header>
<main class="main-content">
    
<div class="gif">
    <iframe src="https://giphy.com/embed/jUEwEtBVLvVgDEJYOP" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbc-schitts-creek-jUEwEtBVLvVgDEJYOP">via GIPHY</a></p>
</div>
<div class="info">
<p class="paragraph">Hmm looks like we didn't have anything for you here.</p>
<p class="paragraph">Go <a routerLink="/submit-bourbon">here</a> to submit a new bourbon to our list.</p>
<p class="paragraph">OR if you wanna keep looking click <a routerLink="/home">here</a>.
</p>
</div>
</main>