<main class="main-content">
<div class="gif">
    <iframe src="https://giphy.com/embed/jUEwEtBVLvVgDEJYOP" width="480" height="480" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/cbc-schitts-creek-jUEwEtBVLvVgDEJYOP">via GIPHY</a></p>
</div>
<div class="info">
<p>Here is where we reroute you</p>
<p>Didn't find what you're looking for? Go <a routerLink="/submit-bourbon">here</a> to submit a new bourbon to our list.</p>
<p>OR if you wanna keep looking click <a routerLink="/home">here</a> to keep searching.
</p>
</div>
</main>