<div class="main-top">
  <header class="header">
    <img class="logo" src="assets/cork-icons.svg" alt="UnCorKd Logo" />
    <h3 class="ranked">Ranked</h3>
    <app-search-form>
      (submitEvent)="getSearchTerm($event.searchTerm)"
    </app-search-form>
  </header>
  <div class="welcome">
    <p>Welcome to UnCorkd, let us take you to flavor town.</p>
  </div>
  <div style="text-align: center">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="honey" src="assets/honey.svg" alt="Avatar" style="" />
            </div>
            <div class="flip-card-back">
              <h1>Honey</h1>
              <button mat-raised-button>Get Suggestion</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="honey" src="assets/coffee-bean.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Coffee</h1>
              <button mat-raised-button>Get Suggestion</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="honey" src="assets/tobacco.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Tobacco</h1>
              <button mat-raised-button>Get Suggestion</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="honey" src="assets/chocolate-bar.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Chocolate</h1>
              <button mat-raised-button>Get Suggestion</button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img class="honey" src="assets/ice-cream.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Chocolate</h1>
              <button mat-raised-button>Get Suggestion</button>
            </div>
          </div>
        </div></ng-template
      >
    </owl-carousel-o>
  </div>
  <!-- <div class="flip">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img class="honey" src="assets/honey.svg" alt="Avatar" style="" />
        </div>
        <div class="flip-card-back">
          <h1>Honey</h1>
          <button mat-raised-button>Get Suggestion</button>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img
            class="honey"
            src="assets/coffee-bean.svg"
            alt="Avatar"
            style=""
          />
        </div>
        <div class="flip-card-back">
          <h1>Coffee</h1>
          <button mat-raised-button>Get Suggestion</button>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img class="honey" src="assets/tobacco.svg" alt="Avatar" />
        </div>
        <div class="flip-card-back">
          <h1>Tobacco</h1>
          <button mat-raised-button>Get Suggestion</button>
        </div>
      </div>
    </div>
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img class="honey" src="assets/chocolate-bar.svg" alt="Avatar" />
        </div>
        <div class="flip-card-back">
          <h1>Chocolate</h1>
          <button mat-raised-button>Get Suggestion</button>
        </div>
      </div>
    </div>
  </div> -->
</div>

<h2>Trending</h2>
<ul *ngFor="let bourbon of bourbons">
  <img src="{{ bourbon.img_url }}" alt="Picture of Bourbon" />
  <li>{{ bourbon.brand }}</li>
  <li>{{ bourbon.description }}</li>
</ul>
