<div class="main-top">
  <header class="header">
    <img class="logo" src="assets/cork-icons.svg" alt="UnCorKd Logo" />
    <!-- <h3 class="ranked">Ranked</h3> -->
    <a class="saved" routerLink="/saved">Saved</a>
    <a class="feed" routerLink="/feed">Feed</a>
    <app-search-form class="search-bar">
      (submitEvent)="getSearchTerm($event.searchTerm)"
    </app-search-form>
    <app-headerauth class="header-auth"></app-headerauth>
  </header>
  <div class="welcome">
    <p>Welcome to UnCorkd, let us take you to flavor town.</p>
    <button routerLink="/newbie" class="new-lander">New to UnCorkd?</button>
  </div>

  <div style="text-align: center">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/honey.svg" alt="Avatar"  />
            </div>
            <div class="flip-card-back">
              <h1>Honey</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                ngModel
                (change)="getSliderValue($event)"
              />
              <output id="slider"></output>
              <button mat-raised-button (click)="getFlavors('honey')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/coffee-bean.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Coffee</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                (change)="getSliderValue($event)"
                ngModel
              />
              <output></output>
              <button mat-raised-button (click)="getFlavors('coffee')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/tobacco.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Tobacco</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                (change)="getSliderValue($event)"
                ngModel
              />
              <output></output>
              <button mat-raised-button (click)="getFlavors('tobacco')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/chocolate-bar.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Chocolate</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                (change)="getSliderValue($event)"
                ngModel
              />
              <output></output>
              <button mat-raised-button (click)="getFlavors('chocolate')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/ice-cream.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Vanilla</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                (change)="getSliderValue($event)"
                ngModel
              />
              <output></output>
              <button mat-raised-button (click)="getFlavors('vanilla')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/orange.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Orange</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                (change)="getSliderValue($event)"
                ngModel
              />
              <output></output>
              <button mat-raised-button (click)="getFlavors('orange')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/mint.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Mint</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                (change)="getSliderValue($event)"
                ngModel
              />
              <output></output>
              <button mat-raised-button (click)="getFlavors('mint')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
      <ng-template carouselSlide
        ><div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front" (mouseover)="resetProof()">
              <img class="honey" src="assets/cinnamon.svg" alt="Avatar" />
            </div>
            <div class="flip-card-back">
              <h1>Cinnamon</h1>
              <p class="p-padded">
                Max Proof <span class="slide">...just slide</span>
              </p>
              <input
                class="slider"
                type="range"
                min="50"
                max="180"
                name="calories"
                oninput="this.nextElementSibling.value = this.value"
                (change)="getSliderValue($event)"
                ngModel
              />
              <output></output>
              <button mat-raised-button (click)="getFlavors('cinnamon')">
                Get Suggestion
              </button>
            </div>
          </div>
        </div></ng-template
      >
    </owl-carousel-o>
  </div>
</div>

<div class="card-container">
  <app-card
    *ngFor="let bourbon of bourbons"
    [bourbonRef]="bourbon"
    (saveEvent)="toggleSaved($event)"
  >
  </app-card>
</div>
